<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link href="{{ asset('css/app.css') }}" rel="stylesheet">
</head>
<body>
  <main class="main">
    <section class="main__block">
      <h2 class="sell__block__head">スニーカの写真を入力してください</h2>
      <div class="sell__block__form">
        <div class="sell__block__form__upload">
          <h3 class="sell__block__form__upload__head">
            食事の画像
            <span class="require">必須</span>
          </h3>
          
        </div>
      </div>
    </section>
  </main>
</body>
</html>