<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <div class="item-detail">
    <div class="item-detail-contents">
      <h1 class="item-detail-name">アイテム名</h1>
      <div class="item-detail-main clearfix">
        <div class="item-detail-photo">
          <img>
        </div>
        <table class="item-detail-table">
          <tbody>
            <tr>
              <th>出品者</th>
              <td>
                <a class="item-detail-username">ユザー名</a>
                
              </td>
            </tr>
            <tr>
              <th>カテゴリー</th> 
              <td>
                <a class="item-detail-category"></a>
              </td>
            </tr>
            
          </tbody>
        </table>
      </div>
    </div>
  </div>
  
</body>
</html>